__pycache__/
*.pyc
*.pyo
*.pytest_cache/
dist/
build/
.git/
venv/
dist_out/
network_manager_pymodule.egg-info
__pycache__/
scripts/__pycache__
*.pyc
.env
.vagrant
dist_out
venv
.pytest_cache
network_module/__pycache__
tests/__pycache__